{% extends 'client-base.html.twig' %}

{% block title %}
    {% if user %}
        @{{ user.pseudo }}
    {% else %}
        Utilisateur introuvable
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Profil de {{ user.pseudo }}</h1>
    <section>
        {% include 'components/user-block.html.twig' with { 'user': user } %}
    </section>
    <hr>
    {% block single_user %}{% endblock %}
{% endblock %}
