{% extends 'base.html.twig' %}

{% block title %}Création de post{% endblock %}

{% block body %}

    <a class="back" href="{{ path('post_index') }}">Retour à la list</a>

    <h1>Création d'un nouveau psot</h1>

    {{ include('admin/post/_form.html.twig') }}
{% endblock %}
