{% extends 'client-base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <section>
        {% include 'components/post-form.html.twig' with { 'form': form } %}
    </section>
{% endblock %}
