form.new-post {
  background-color: $white;
  box-shadow: $shadow;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  @include formFocus;

  & > div {
    width: 100%;
    margin-right: 10px;

    .form-group {
      margin: 0;

      label {
        display: none;
      }
      textarea {
        border: 0;
        background: none;
        resize: none;
        height: 100px;
        color: $veryHardBlack;

        &:focus {
          box-shadow: none;
        }
      }
      .post-media + label{
        display: block;
      }
    }
  }
}
