section.posts-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2px;

  .post {
    background-color: $white;
    padding: 12px;
    border: 1px solid #e6ecf0;

    &__header {
      display: flex;


      &__user {
        display: flex;
        width: 100%;

        p {
          margin-left: 15px;

          a {
            display: block;
          }
        }
      }
      &__buttons {
        width: 100px;
        min-width: 100px;
        display: flex;
        justify-content: flex-end;
      }
    }

    &__message {

      &__date{
        color:$grey;
      }
    }
  }
}
