@mixin formFocus () {
  border: 1px solid rgba( $white, 0 );
  box-shadow: $shadow;
  transition: box-shadow $transitionTime,
  border-color $transitionTime;

  &:focus-within {
    box-shadow: 0 0 0 5px rgba($primaryColor, .25);
    border-color: $primaryColor;
  }
}
