$white: #FFFFFF;
$lightGray: #EEEEEE;
$softGray: #D0D0D0;
$mediumGray: #A3A3A3;
$gray: #777777;
$hardBlack: #4E4E4E;
$veryHardBlack: #292929;
$black: #000000;

$primaryCOlor: rgb( 90, 142, 247 );

$transitionTime: .4s;
