<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %} - Chicken Events</title>
        <link rel="stylesheet" href="/dist/{{ asset( 'main.css' ) }}">
    </head>
    <body>
    <header>
        {% include 'components/menu.twig' %}
    </header>

        {% block body %}{% endblock %}
    <script src="/dist/{{ asset( 'main.js' ) }}"></script>
    </body>
</html>
