<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %} - Chicken Events</title>
    <link rel="stylesheet" href="/dist/{{ asset( 'main.css' ) }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
        </ul>
    </nav>
</header>
{% block search %}<div></div>{% endblock %}

<section>
    {% block body %}<div></div>{% endblock %}
</section>
<script src="/dist/{{ asset( 'main.js' ) }}"></script>
</body>
</html>
