{% if app.user|is_following(user) %}
    <a class="follow-button unfollow btn" href="{{ path('follow', { 'followingId': user.id }) }}">Désuivre</a>
{% else %}
    <a class="follow-button follow btn" href="{{ path('follow', { 'followingId': user.id }) }}">Suivre</a>
{% endif %}
