{% if app.user|is_following(user) %}
    <a href="{{ path('follow', { 'followingId': user.id }) }}" class="follow-button btn" action="unfollow">Désuivre</a>
{% else %}
    <a href="{{ path('follow', { 'followingId': user.id }) }}" class="follow-button btn" action="follow">Suivre</a>
{% endif %}
