{% if post%}
    <a class="btn link-button" href="{{ path('like', { 'postId': post.id }) }}" action="unlike">aime</a>
{% else %}
    <a class="btn link-button" href="{{ path('like', { 'postId': post.id }) }}" action="like">aime</a>
{% end %}
