{% if app.user in post.userTimeline %}
    <a class="btn repost-button" href="{{ path('re_post', { 'postId': post.id }) }}" action="stop-repost">RePost</a>
{% else %}
    <a class="btn repost-button" href="{{ path('re_post', { 'postId': post.id }) }}" action="repost">RePost</a>
{% endif %}

