{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block body_class %}login{% endblock %}

{% block body %}
    <section>
        <h1>Connexion</h1>
        <form action="{{ path('login') }}" method="post" class="js_form">
            <img class="mb-4" src="/assets/svg/logo.svg" alt="" width="72" height="72">

            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" id="username" name="_username" class="form-control" autofocus value="{{ last_username }}">
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" class="form-control" required>
            </div>

            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
            </div>
        </form>
        <a href="{{ path('registration') }}">Vous n'avez pas encore de compte ?</a>
    </section>
{% endblock %}

{% block aside %}
    <figure>
        <img src="/img/logo.svg" alt="Logo Chicken Events">
    </figure>
{% endblock %}
