{% extends 'client-base.html.twig' %}

{% block title %}Modifier les informations d'inscription{% endblock %}

{% block content %}
    <h1>Votre Profil</h1>
    {{ form_start(form, {
        'attr': {
            'class': 'js_form'
        }
    }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
