{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block body_class %}registration{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    <div class="registration">
        {{ form_start(form, {
            'attr': {
                'class': 'js_form'
            }
        }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <a class="form-group" href="{{ path('login') }}">Vous avez déjà un compte ?</a>
{% endblock %}

{% block aside %}
    <figure>
        <img src="/img/logo.svg" alt="Logo Chicken Events">
    </figure>
{% endblock %}
